@import '/src/styles/mixins/colors.scss';
@import '/src/styles/mixins/fonts.scss';

.button {
  @include SizeSmall;
  padding: 15px 50px;
  border-radius: 5px;
  font-weight: bold;
  border: none;

  &.primary {
    background-color: rgb(255, 16, 68);
    color: $white-color;
  }
  &:hover {
    background-color: $purple-color;
    color: $white-color;
    cursor: pointer;
  }

  &.secundary {
    background-color: $white-color;
    color: $purple-color;
  }
  &.secundary:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }

  &.full {
    @include SizeNormal;
    padding: 21px;
    width: 100%;
    font-weight: 600;
    background-color: $green3-color;
    color: $white-color;
  }
}
