.container {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #380158;
  display: flex;
  gap: 50px;
  border: none;
}

.card {
  flex-grow: 1;
  background-color: white;
  cursor: pointer;
}